
<html>
<head>
<style>
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 12px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 300px;
  height: 1800px; /* Used in this example to enable scrolling */
}
</style>
</head>
<table style="width: 100%">
    <colgroup>
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 33%;">
    </colgroup>
    <tbody>
        <tr>
            <td><button onclick="location.href='/select-edit'" class="btn btn-default" style="margin: 0 auto; display: block;">Edit entry</button></td>
            <td><button onclick="location.href='/create-new'" class="btn btn-default" style="margin: 0 auto; display: block;">Create New</button></td>
            <td><button onclick="location.href='/view'" class="btn btn-default" style="margin: 0 auto; display: block;">View Data</button></td>
        </tr>
    </tbody>
</table>

<div class="navbar">
    <a>Jump to:</a>
    <a href="#tap_1">1</a>
    <a href="#tap_2">2</a>
    <a href="#tap_3">3</a>
    <a href="#tap_4">4</a>
    <a href="#tap_5">5</a>
    <a href="#tap_6">6</a>
    <a href="#tap_7">7</a>
    <a href="#tap_8">8</a>
    <a href="#tap_9">9</a>
    <a href="#tap_10">10</a>
    <a href="#tap_11">11</a>
    <a href="#tap_12">12</a>
    <a href="#tap_13">13</a>
    <a href="#tap_14">14</a>
    <a href="#tap_15">15</a>
    <a href="#tap_16">16</a>
    <a href="#tap_17">17</a>
    <a href="#tap_18">18</a>
    <a href="#tap_19">19</a>
    <a href="#tap_20">20</a>
    <a href="#tap_21">21</a>
    <a href="#tap_22">22</a>
    <a href="#tap_23">23</a>
    <a href="#tap_24">24</a>
    <a href="#tap_25">25</a>
    <a href="#tap_26">26</a>
    <a href="#tap_27">27</a>
    <a href="#tap_28">28</a>
    <a href="#tap_29">29</a>
    <a href="#tap_30">30</a>
    <a href="#tap_31">31</a>
    <a href="#tap_32">32</a>
    <a href="#tap_33">33</a>
    <a href="#tap_34">34</a>
    <a href="#tap_35">35</a>
    <a href="#tap_36">36</a>
    <a href="#tap_37">37</a>
    <a href="#tap_38">38</a>
    <a href="#tap_39">39</a>
    <a href="#tap_40">40</a>
</div>

<div class="main">
<body>
{% block app_content %}
    <form action="/process" method="post">
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 60%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
                <tr id="tap_1">
                    <td><h2>Tap 1</h2></td>
                    <td>
                        <select name=tap1 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap1Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap1Submit" name="action" type="submit">Submit</button></td>

                </tr>
                <tr id="tap_2">
                    <td><h2>Tap 2</h2></td>
                    <td>
                        <select name=tap2 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap2Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap2Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_3">
                    <td><h2>Tap 3</h2></td>
                    <td>
                        <select name=tap3 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap3Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap3Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_4">
                    <td><h2>Tap 4</h2></td>
                    <td>
                        <select name=tap4 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap4Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap4Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_5">
                    <td><h2>Tap 5</h2></td>
                    <td>
                        <select name=tap5 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap5Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap5Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_6">
                    <td><h2>Tap 6</h2></td>
                    <td>
                        <select name=tap6 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap6Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap6Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_7">
                    <td><h2>Tap 7</h2></td>
                    <td>
                        <select name=tap7 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap7Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap7Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_8">
                    <td><h2>Tap 8</h2></td>
                    <td>
                        <select name=tap8 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap8Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap8Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_9">
                    <td><h2>Tap 9</h2></td>
                    <td>
                        <select name=tap9 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap9Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap9Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_10">
                    <td><h2>Tap 10</h2></td>
                    <td>
                        <select name=tap10 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap10Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap10Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_11">
                    <td><h2>Tap 11</h2></td>
                    <td>
                        <select name=tap11 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap11Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap11Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_12">
                    <td><h2>Tap 12</h2></td>
                    <td>
                        <select name=tap12 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap12Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap12Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_13">
                    <td><h2>Tap 13</h2></td>
                    <td>
                        <select name=tap13 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap13Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap13Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_14">
                    <td><h2>Tap 14</h2></td>
                    <td>
                        <select name=tap14 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap14Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap14Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_15">
                    <td><h2>Tap 15</h2></td>
                    <td>
                        <select name=tap15 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap15Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap15Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_16">
                    <td><h2>Tap 16</h2></td>
                    <td>
                        <select name=tap16 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap16Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap16Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_17">
                    <td><h2>Tap 17</h2></td>
                    <td>
                        <select name=tap17 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap17Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap17Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_18">
                    <td><h2>Tap 18</h2></td>
                    <td>
                        <select name=tap18 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap18Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap18Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_19">
                    <td><h2>Tap 19</h2></td>
                    <td>
                        <select name=tap19 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap19Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap19Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_20">
                    <td><h2>Tap 20</h2></td>
                    <td>
                        <select name=tap20 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap20Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap20Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_21">
                    <td><h2>Tap 21</h2></td>
                    <td>
                        <select name=tap21 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap21Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap21Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_22">
                    <td><h2>Tap 22</h2></td>
                    <td>
                        <select name=tap22 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap22Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap22Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_23">
                    <td><h2>Tap 23</h2></td>
                    <td>
                        <select name=tap23 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap23Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap23Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_24">
                    <td><h2>Tap 24</h2></td>
                    <td>
                        <select name=tap24 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap24Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap24Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_25">
                    <td><h2>Tap 25</h2></td>
                    <td>
                        <select name=tap25 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap25Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap25Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_26">
                    <td><h2>Tap 26</h2></td>
                    <td>
                        <select name=tap26 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap26Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap26Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_27">
                    <td><h2>Tap 27</h2></td>
                    <td>
                        <select name=tap27 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap27Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap27Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_28">
                    <td><h2>Tap 28</h2></td>
                    <td>
                        <select name=tap28 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap28Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap28Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_29">
                    <td><h2>Tap 29</h2></td>
                    <td>
                        <select name=tap29 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap29Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap29Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_30">
                    <td><h2>Tap 30</h2></td>
                    <td>
                        <select name=tap30 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap30Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap30Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_31">
                    <td><h2>Tap 31</h2></td>
                    <td>
                        <select name=tap31 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap31Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap31Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_32">
                    <td><h2>Tap 32</h2></td>
                    <td>
                        <select name=tap32 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap32Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap32Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_33">
                    <td><h2>Tap 33</h2></td>
                    <td>
                        <select name=tap33 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap33Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap33Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_34">
                    <td><h2>Tap 34</h2></td>
                    <td>
                        <select name=tap34 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap34Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap34Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_35">
                    <td><h2>Tap 35</h2></td>
                    <td>
                        <select name=tap35 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap35Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap35Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_36">
                    <td><h2>Tap 36</h2></td>
                    <td>
                        <select name=tap36 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap36Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap36Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_37">
                    <td><h2>Tap 37</h2></td>
                    <td>
                        <select name=tap37 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap37Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap37Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_38">
                    <td><h2>Tap 38</h2></td>
                    <td>
                        <select name=tap38 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap38Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap38Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_39">
                    <td><h2>Tap 39</h2></td>
                    <td>
                        <select name=tap39 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap39Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap39Submit" name="action" type="submit">Submit</button></td>
                </tr>
                <tr id="tap_40">
                    <td><h2>Tap 40</h2></td>
                    <td>
                        <select name=tap40 method="GET" action="/" style="width: 80%;">
                            {% for name in names %}
                            <option value= "{{name}}" SELECTED>{{name}}</option>"
                            {% endfor %}
                        </select>
                    </td>
                    <td><button class="btn btn-default" value="tap40Demo" name="action" type="submit">Demo</button></td>
                    <td><button class="btn btn-default" value="tap40Submit" name="action" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>

{% endblock %}
</body>
</div>
</html>